body {
    font-family: "Sora", sans-serif;
}

.outlined{
    font-weight: 800;
    color: var(--color-white);
    /* -webkit-text-stroke: 2px black; */
    text-shadow: var(--outline-width) 0 var(--color-black),
        calc(var(--outline-width) * -1) 0 var(--color-black),
        0 var(--outline-width) var(--color-black),
        0 calc(var(--outline-width) * -1) var(--color-black),
        var(--outline-width) var(--outline-width) var(--color-black),
        calc(var(--outline-width) * -1) calc(var(--outline-width) * -1)
        var(--color-black),
        var(--outline-width) calc(var(--outline-width) * -1) var(--color-black),
        calc(var(--outline-width) * -1) var(--outline-width) var(--color-black);
}

section{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing-40) var(--spacing-16);
}

.section-title{
    font-weight: 409;
    font-size: 28px;
    text-align: center;
}

.section-container{
    padding: var(--spacing-40) var(--spacing-16);
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
}

.header{
    padding: var(--spacing-16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.header_brand{
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

.header_title{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black);
}

.header_nav,
.header_cta{
    display: none;
}

/*Pantallas mas grandes que un movil*/
@media (min-width: 1024px){
    .header_nav,
    .header_cta{
        display: block;
    }

    .header_toogle{
        display: none;
    }

    .header_nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-32);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    .header_cta{
        display: flex;
        gap: 10.5px;
        font-size: 20px;
        background-color: var(--color-black);
        color: var(--color-white);
        padding: var(--spacing-16) var(--spacing-20);
        border-radius: 4px;
    }
}

/*Hero*/
.hero{
    padding: var(--spacing-40) var(--spacing-16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-40);
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
}

.hero_title{
    font-weight: 400;
    font-size: clamp(1.5rem, 4.5vw, 2.5rem);
    line-height: 32px;
    letter-spacing: -2%;
    color: var(--color-black);
}

.hero_title strong{
    font-weight: 800;
    font-size: clamp(1.5rem, 4.5vw, 2.5rem);
    line-height: 32px;
    letter-spacing: -2%;
}

.hero_description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #71717A;
}

.hero_image{
    width: 100%;
    height: auto;
    max-height: 342px;
}

.hero_social {
  display: flex;
  gap: var(--spacing-24);
  margin-top: var(--spacing-4);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  background: var(  --color-white);
  transition: all 0.2s ease;
  color: var(--color-black);
}

.social-link:hover {
  background: var(--color-black);
  color: var(  --color-white);
  transform: translateY(-2px);
}

.social-link:hover img {
  filter: invert(1);
}

.social-link img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px){
    .hero{
        flex-direction: row-reverse;
    }
    .hero_content{
        max-width: 50%;
    }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-20);
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  aspect-ratio: 1/1;

  padding: var(--spacing-24);
  border-radius: 4px;

  background: var(--color-white);
  border: 2px solid var( --color-black);

  transition: transform 0.15s ease;
}

.skill-card:hover {
  background: var( --color-black);
  color: var(--color-white);
  transform: translateY(-2px);
}

.skill-card:hover .skill-card_icon img {
  filter: invert(1);
}

.skill-card:hover .skill-card_label {
  color: var(--color-white);
}

.skill-card_icon img {
  width: clamp(3rem, 4vw, 5rem);
  height: auto;
  margin-bottom: var(--spacing-16);
}

.skill-card_label {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  color: var( --color-black);
}

/* Grid auto-fit */
/*auto-fit: Se ajusta a la cantidad de columnas que caben en el contenedor*/
/*minmax(min,max): Garantiza que un elemento no sea mas pequeño que el valor min ni mas grande que max*/
.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
  gap: var(--spacing-20);
}

.skill-card:nth-child(n + 7) {
  display: none;
}

@media (min-width: 768px) {
  .skills__grid {
    gap: var(--spacing-32);
  }
  .skill-card:nth-child(n + 7) {
    display: flex;
  }

  .skill-card:nth-child(n + 9) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .skills__grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .skill-card:nth-child(n + 9) {
    display: flex;
  }
}

/* --- EXPERIENCE SECTION --- */

.experience {
  background-color: var(--color-black);
  color: var(--color-white);
}

.experience-card {
  padding: var(--spacing-32) var(--spacing-24);
  border: 1px solid var(--zinc-500);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  align-items: center;

  display: grid;
  grid-template-columns: 32px 1fr;
  gap: var(--spacing-32);
  grid-template-areas: 'logo role' 'date date' 'description description';
  align-items: center;
}

.experience-card:hover {
  background-color: var(--zinc-800);
}

.experience-card__logo {
  grid-area: logo;
  width: 100%;
}

.experience-card__role {
  grid-area: role;
  font-size: 1.25rem;
  font-weight: 600;
  align-self: end;
}
.experience-card__date {
  color: var(--zinc-300);
  font-size: 1rem;
  font-weight: 600;
  grid-area: date;
}
.experience-card__description {
  grid-area: description;
  line-height: 1.5;
  color: var(--zinc-300);
}

@media (min-width: 768px) {
  .experience-card {
    grid-template-columns: 32px 1fr auto;
    grid-template-areas: 'logo role date' 'description description description';
  }
}
